.btn {
  width: 150px;
  height: 100px;
  border: none;
  border-radius: 2px;
  border-color: aqua;

  color: black;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 25, 25, 0.329);

  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  min-height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}
